*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root{
    --background-color: #132985;
    --text-black: #1E1E1E;
    --modal-white: #F4F4F4;
    --textfield-bg: #ECECEC;
    --textfield-txt: #BFBFBF;
    --textfield-eyecolor: #7C7B7B;
    --success: #28B411;
    --success-btn:#369926;
}
nav{
    background-color: var(--background-color);
}
.brand{
    margin-left: 2rem;
}
.side_navbar{
    height: 100vh;
    width: 250px;    
}
.menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    width: 2.25rem;
    height: 2rem;
    color: var(--modal-white);
}

@media only screen and (max-width: 480px){    
    .menu{
        display: flex;
        font-size: 40px;
        position: absolute;
        top: 0rem;
        right: 1.5rem;
    }   
    .open{
        display: none;
    }
}