
*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
:root{
    --background-color: #132985;
    --text-black: #1E1E1E;
    --modal-white: #F4F4F4;
    --textfield-bg: #ECECEC;
    --textfield-txt: #BFBFBF;
}

.fpassword{
    background-color: var(--background-color);
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.box1{
    display: grid;
    place-items: center;
    text-align: center;
    width: 50%;
    height: 80vh;
    background-color: var(--modal-white);
    border-radius: 40px;
}
.box1 form{
    width: 80%;
    margin: 1rem 3rem;   
}
.box1 form .title{
    font-size: 40px;
    font-weight: 700;
    color: var(--background-color);
    line-height: 48.41px;
    margin-bottom: 0.3rem;
}
.otps{
    margin: 2rem auto 2rem;
    width: 85%;
    display: flex;
    gap: 4rem;   
}
.otpfield{   
    width: 20%;
    height: 10vh;
    background-color: var(--textfield-txt);
    border-radius: 5px;
    text-align: center;
}

.resend{
    color: var(--background-color);
    font-weight: 400;
    margin-top: 1rem;
    letter-spacing: 0.5px;
}
.resend > span{
    font-weight: 700;
    cursor: pointer;
}

.box1 form .sendbtn{
    background-color: var(--background-color);
    width: 100%;
    height: 56px;
    border-radius: 8px;
    margin-top: 1rem;
    color: var(--modal-white);
}


@media (max-width:667px){
    .fpassword{
        padding: 1rem;
    }
    .box1{
        width: 100%;
    }
    .box1 form .title{
        font-size: 25px;
        margin-bottom: 2rem;
    }
    .otps{   
       gap: 1rem;
    }
    .otpfield{   
        /* width: 20%; */
        height: 8vh;       
    }
    .resend{
        font-weight: 400;
        letter-spacing: 0px;
        margin-bottom: 1rem;
    }
    .box1 form{
        width: 90%;
        margin: 1rem 1rem;
    }
}