* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --background-color: #132985;
  --text-black: #1e1e1e;
  --modal-white: #f4f4f4;
  --textfield-bg: #ececec;
  --pure-wite: #ffffff;
  --textfield-txt: #bfbfbf;
  --textfield-eyecolor: #7c7b7b;
  --success: #28b411;
  --success-btn: #369926;
}

.students_Container {
  width: 100%;
}
.board_section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.search {
  width: 50%;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  width: 50%;
}
.board_section button {
  width: 15%;
  border: 1px solid var(--textfield-txt);
}
